
    <ons-scroller class="center">

    <ons-list>
        <ons-list-item class="topcoat-list__item__line-height"><b>Kepulauan Waigeo</b> <br /><img src="img/1.jpg" width="100%" ng-click="ons.navigator.pushPage('detil.html')"></ons-list-item>
        <ons-list-item class="topcoat-list__item__line-height"><b>Kepulauan Misool</b> <br /><img src="img/2.jpg" width="100%" ng-click="ons.navigator.pushPage('detil.html')"></ons-list-item>
        <ons-list-item class="topcoat-list__item__line-height"><b>Kepulauan Batanta</b> <br /><img src="img/3.jpg" width="100%" ng-click="ons.navigator.pushPage('detil.html')"></ons-list-item>
        <ons-list-item class="topcoat-list__item__line-height"><b>Kepulauan Salawati</b> <br /><img src="img/4.jpg" width="100%" ng-click="ons.navigator.pushPage('detil.html')"></ons-list-item>
        <ons-list-item class="topcoat-list__item__line-height"><b>Kepulauan Kofiau</b> <br /><img src="img/5.jpg" width="100%" ng-click="ons.navigator.pushPage('detil.html')"></ons-list-item>
        <ons-list-item class="topcoat-list__item__line-height"><b>Kepulauan Wayag</b> <br /><img src="img/6.jpg" width="100%" ng-click="ons.navigator.pushPage('detil.html')"></ons-list-item>
        <ons-list-item class="topcoat-list__item__line-height"><b>Teluk Triton</b> <br /><img src="img/7.jpg" width="100%" ng-click="ons.navigator.pushPage('detil.html')"></ons-list-item>
    </ons-list>

	</ons-scroller>

