<ons-scroller class="center">
	<ons-navigator-toolbar
		title="Teluk Triton">
	</ons-navigator-toolbar>
	
	<br />
	<ul rn-carousel rn-carousel-indicator class="image">
	  <li><img src="img/7.jpg" width="100%"></li>
	  <li><img src="img/6.jpg" width="100%"></li>
	  <li><img src="img/5.jpg" width="100%"></li>
	</ul>
	
	<h3>Teluk Triton</h3>
	<ons-row class="grid-padding">
        <ons-col size="20"><br /><br /><i class="fa fa-plane fa-3x"></i></ons-col> 
        <ons-col><p align="left">
			Jelly-o apple pie sweet roll cupcake topping powder jelly beans. 
			Wafer chocolate bar tootsie roll. Tootsie roll bonbon chocolate. 
			Jelly-o apple pie sweet roll cupcake topping powder jelly beans.
			</p>
        </ons-col> 
    </ons-row>
    <h3 class="grid-padding left">DESKRIPSI</h3>
    <ons-row class="grid-padding"> 
        <ons-col><p align="left">
			Jujubes powder wafer toffee carrot cake fruitcake lemon drops. 
			Cheesecake jujubes tootsie roll tiramisu jelly-o sweet tootsie 
			roll jelly beans jelly-o. Gingerbread soufflé brownie donut 
			liquorice. Danish gummies bonbon sugar plum. Icing topping 
			soufflé muffin icing. Bear claw wafer bonbon gummies.
			</p>
		</ons-col>
    </ons-row>
    <h3 class="grid-padding left">AKTIVITAS ALAM</h3>
    <ons-row class="grid-padding"> 
        <ons-col align="center"><img src="ikon/sunrise.png" width="64px"></ons-col>
        <ons-col align="center"><h2>05:10</h2></ons-col>
        <ons-col align="center"><img src="ikon/air-pasang.png" width="64px"></ons-col>
        <ons-col align="center"><h2>06:17</h2></ons-col>
    </ons-row>
    <ons-row class="grid-padding"> 
        <ons-col align="center"><img src="ikon/sunset.png" width="64px"></ons-col>
        <ons-col align="center"><h2>18:10</h2></ons-col>
        <ons-col align="center"><img src="ikon/air-surut.png" width="64px"></ons-col>
        <ons-col align="center"><h2>19:02</h2></ons-col>
    </ons-row>
    <h3 class="grid-padding left">PETA WILAYAH</h3>
    <ons-row class="grid-padding"> 
        <ons-col align="center">
			 <iframe width='100%' height='200px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/ocha.i3jee82d/attribution,zoompan,zoomwheel,geocoder,share.html'></iframe>
        </ons-col>
    </ons-row>
    <h3 class="grid-padding left">FASILITAS UMUM</h3>
    <ons-row class="grid-padding fasum"> 
		Kantor Polisi
	</ons-row>
	<ons-row class="grid-padding fasum"> 
		Puskesmas
	</ons-row>
	<ons-row class="grid-padding fasum"> 
		Masjid
	</ons-row>
	<ons-row class="grid-padding fasum"> 
		Bandara
	</ons-row>
	<ons-row class="grid-padding fasum"> 
		Pelabuhan
	</ons-row>
	<ons-row class="grid-padding fasum"> 
		ATM Bank Mandiri
	</ons-row>
    
</ons-scroller>
