<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>My App</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/topcoat-mobile-onsen-ios7.css">  
  <link rel="stylesheet" href="styles/app.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    
  <script src="js/app.js"></script> 
  
  <link href="lib/angular-carousel.css" rel="stylesheet" type="text/css" />
  <script src="lib/angular-touch.js"></script>
  <script src="lib/angular-carousel.js"></script>
  
</head>

<body>    

<ons-screen>
    <ons-navigator title="Login">
        <ons-page class="center">	   
		
		<div style="padding: 10px">
		<img src="ikon/piknik.png">
		<h4>Teman Piknik - Raja Ampat</h4>
		<ons-button ng-click="ons.navigator.pushPage()"><ons-icon icon="facebook" size="15x"></ons-icon>&nbsp; Facebook</ons-button>
		<ons-button ng-click="ons.navigator.pushPage()"><ons-icon icon="twitter" size="15x"></ons-icon>&nbsp; Twitter</ons-button>
	
		</ons-page>
	</ons-navigator>
</ons-screen>	
	
</body>
</html>
