<ons-scroller class="center">
	<h1>Usulkan Tempat</h1>
	<ons-row class="grid-padding"> 
        <ons-col align="center">
			 <iframe width='100%' height='200px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/ocha.i3jee82d/attribution,zoompan,zoomwheel,geocoder,share.html'></iframe>
        </ons-col>
    </ons-row>
    <h3 class="grid-padding left">DATA TEMPAT</h3>
    <p class="grid-padding left">Judul Lokasi</p>
    <ons-row class="grid-padding">
		<ons-text-input ng-model="text" placeholder="Judul lokasi" style="display: block; padding-bottom: 7px; padding-top: -7px; width: 100%"></ons-text-input>
	</ons-row>
	<p class="grid-padding left">Sub Judul Lokasi</p>
    <ons-row class="grid-padding">
		<ons-text-input ng-model="text" placeholder="Sub judul lokasi" style="display: block; padding-bottom: 7px; padding-top: -7px; width: 100%"></ons-text-input>
	</ons-row>
	<p class="grid-padding left">Koordinat</p>
	<ons-row class="grid-padding">
		<ons-col align="center">
			<ons-text-input ng-model="text" placeholder="Latitude" style="display: block; padding-bottom: 7px; padding-top: -7px; width: 100%"></ons-text-input>
		</ons-col>
		<ons-col align="center">
			<ons-text-input ng-model="text" placeholder="Longitude" style="display: block; padding-bottom: 7px; padding-top: -7px; width: 100%"></ons-text-input>
		</ons-col>
	</ons-row>
	<p class="grid-padding left">Kategori</p>
    <ons-row class="grid-padding">
		<ons-col align="left">
			<section style="padding: 10px;">      
				<ons-checkbox ng-model="purba">
					Purbakala
				</ons-checkbox> 
			</section>
		</ons-col>
		<ons-col align="left">
			<section style="padding: 10px;">      
				<ons-checkbox ng-model="kuliner">
					Kuliner dan Restoran
				</ons-checkbox> 
			</section>
		</ons-col>
	</ons-row>
	<ons-row class="grid-padding">
		<ons-col align="left">
			<section style="padding: 10px;">      
				<ons-checkbox ng-model="wisata">
					Objek Wisata Alam
				</ons-checkbox> 
			</section>
		</ons-col>
		<ons-col align="left">
			<section style="padding: 10px;">      
				<ons-checkbox ng-model="bandara">
					Bandara
				</ons-checkbox> 
			</section>
		</ons-col>
	</ons-row>
	<ons-row class="grid-padding">
		<ons-col align="left">
			<section style="padding: 10px;">      
				<ons-checkbox ng-model="perairan">
					Air dan Pantai
				</ons-checkbox> 
			</section>
		</ons-col>
		<ons-col align="left">
			<section style="padding: 10px;">      
				<ons-checkbox ng-model="terminal">
					Terminal
				</ons-checkbox> 
			</section>
		</ons-col>
	</ons-row>
	<ons-row class="grid-padding">
		<ons-col align="left">
			<section style="padding: 10px;">      
				<ons-checkbox ng-model="kontemporer">
					Kontemporer
				</ons-checkbox> 
			</section>
		</ons-col>
		<ons-col align="left">
			<section style="padding: 10px;">      
				<ons-checkbox ng-model="pelabuhan">
					Pelabuhan
				</ons-checkbox> 
			</section>
		</ons-col>
	</ons-row>
	<ons-row class="grid-padding">
		<ons-col align="left">
			<section style="padding: 10px;">      
				<ons-checkbox ng-model="kultural">
					Kultural
				</ons-checkbox> 
			</section>
		</ons-col>
		<ons-col align="left">
			<section style="padding: 10px;">      
				<ons-checkbox ng-model="belanja">
					Belanja
				</ons-checkbox> 
			</section>
		</ons-col>
	</ons-row>
	<ons-row class="grid-padding">
		<ons-col align="left">
			<section style="padding: 10px;">      
				<ons-checkbox ng-model="museum">
					Museum
				</ons-checkbox> 
			</section>
		</ons-col>
		<ons-col align="left">
			<section style="padding: 10px;">      
				<ons-checkbox ng-model="sekunder">
					Sekunder
				</ons-checkbox> 
			</section>
		</ons-col>
	</ons-row>
	<p class="grid-padding left">Alamat</p>
    <ons-row class="grid-padding">
		<ons-text-area ng-model="text" placeholder="Detil alamat" style="width: 100%; height: 100px;"></ons-text-area>
	</ons-row>
	<p class="grid-padding left">Deskripsi</p>
    <ons-row class="grid-padding">
		<ons-text-area ng-model="text" placeholder="Deskripsi tentang lokasi" style="width: 100%; height: 150px;"></ons-text-area>
	</ons-row>
	<p class="grid-padding left">Informasi Tambahan</p>
    <ons-row class="grid-padding">
		<div contenteditable class="textarea">
		<ons-text-area ng-model="text" placeholder="Informasi tambahan" style="width: 100%; height: 100px;"></ons-text-area>
		</div>
	</ons-row>
	<p class="grid-padding left">Unggah Foto</p>
    <ons-row class="grid-padding">
		<ons-button type="large" style="margin-top: 8px;">Unggah</ons-button>
	</ons-row>
	<br />
	<ons-row class="grid-padding">
		<ons-button type="large" style="margin-top: 8px;">Simpan</ons-button>
	</ons-row>
	<br />
</ons-scroller>
